.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

@media (max-width: 986px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }
}
